@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap");

/* ----------------------------------------------------- General Styling */

body {
    font-family: "Dosis", sans-serif;
    color: #000;
    background-color: #fafafa;
    /* background-color: #f7fcf3; */
    margin: 0;
    letter-spacing: 1px;
}

/* ----------------------------------------------------- Header */

header {
    height: 120px;
}

#logo {
    height: 100px;
    width: 100px;
    display: inline-block;
    margin: 10px;
    vertical-align: unset;
}

.navbar-nav {
    align-items: center;
}

#navbar-links {
    color: #000;
}

#navbar-links:hover {
    text-decoration: underline;
    color: #0079AD;
}

.navbar {
    float: right;
    margin-top: 25px;
    margin-bottom: 25px;
    z-index: 1;
}

.active {
    text-decoration: underline;
}

/* ----------------------------------------------------- Hero Image */

#hero-image {
    height: 400px;
    width: 100%;
    background: url("../images/dog-bubbles-desktop.jpg") no-repeat center center;
    position: relative;
}

#hero-outer {
    width: 100%;
    height: 400px;
    bottom: 90px;
    display: fixed;
}

/* ----------------------------------------------------- Dog Preview */

#dog-preview {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.dog-content {
    text-align: center;
}

.dog-image {
    height: 300px;
    width: 300px;
    object-fit: cover;
    padding: 7px;
    border-radius: 15px;
}

.meet-dogs-link h4 {
    margin: 0;
}

.dog-card {
    padding: 2px;
    margin: auto;
    margin-top: 25px;
    border: 1px solid #70D4FF;
    border-radius: 12px;
    background-color: #E5F7FF;
}

.meet-dogs-link {
    text-decoration: none;
    background-color: #0079AD;
    border: 2px solid #0079AD;
    color: #fafafa;
    width: 25%;
    text-align: center;
    margin: auto;
    margin-bottom: 75px;
    margin-top: 75px;
    border-radius: 15px;
    padding: 10px 0 10px 0;
    display: block;
}

.meet-dogs-link:hover {
    text-decoration: underline;
    background-color: #fafafa;
    color: #0079AD;
}

.meet-dogs-home {
    text-decoration: none;
    color: black;
    font-weight: 600;
    text-align: center;
    border-radius: 10px;
    display: block;
}

.meet-dogs-home:hover {
    text-decoration: underline;
}


.fa-arrow-right {
    margin-left: 10px;
}


/* ----------------------------------------------------- About Us */

.about-us {
    padding: 3vw;
    border-radius: 15px;
    margin: auto auto;
    max-width: 800px;
}

.about-us h2 {
    text-decoration: underline;
    text-align: center;
}

.about-image {
    width: 100%;
    border-radius: 15px;
    padding: 0;
    margin: auto auto;
}


#about-us-top {
    grid-area: about-us-top;
}

#about-us-bottom {
    grid-area: about-us-bottom;
}

#about-div-top {
    grid-area: about-div-top;
}

#about-div-bottom {
    grid-area: about-div-bottom;
}


.grid-container {
    display: grid;
    border-radius: 15px;
    margin: 0 30px 50px 30px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "about-us-top about-us-top about-us-top about-div-top about-div-top"
        "about-div-bottom about-div-bottom about-us-bottom about-us-bottom about-us-bottom";
}

#adoption-link {
    color: black;
    font-weight: 600;
}

#adoption-link:hover {
    color: #0079AD
}

/* ----------------------------------------------------- Footer */

footer {
    background-color: #0079AD;
    height: auto;
    padding: 50px;
    box-sizing: content-box;
}

.social-links-footer {
    text-align: center;
    margin: 0;
    padding: 0
}

.social-links-footer li {
    display: inline;
}

.social-links-footer i {
    margin: 50px 4% 50px 4%;
    font-size: 24px;
}

.footer-links {
    margin: 0;
    text-align: center;
    padding: 0
}

.footer-links a {
    color: #fafafa;
    font-weight: 500;
    font-size: 18px;
}

.footer-links li {
    margin: 0 3% 0 3%;
    display: inline;
}

.copyright {
    margin: 0;
    text-align: center;
    color: #fafafa;
    font-size: 15px;
}


.fa-brands-footer {
    color: #fafafa;
}

.fa-brands:hover {
    color: #F9F871;
}

.footer-links a:hover {
    color: #F9F871;
}


/* ----------------------------------------------------- Meet Dogs Heading */


.meet-dog-heading {
    background-color: #F9F871;
    height: auto;
    padding: 5px;
    margin: 5px 0 20px 0;
}

.meet-dog-heading h1 {
    text-align: center;
    font-size: 5vw;
    margin: 0;
    letter-spacing: 3px;
    border-top: 3px solid #fff;
}

/* ----------------------------------------------------- Meet Dogs Main Section */

.meet-dog-grid {
    display: grid;
    grid-row-gap: 75px;
    grid-template-columns: 1fr 1fr 1fr;
}

.dog-info-box {
    margin-bottom: 10px;
}

.dog-info-box h2 {
    text-align: center;
}

.dog-info-box p {
    margin: 10px 25px 0 25px;
}

.dog-info-block {
    display: inline-block;
    margin: 0;
    width: 100%;
}

.dog-info-block ul {
    list-style-type: none;
    padding: 0;
    display: inline-block;
}

.dog-info-left li,
.dog-info-right li {
    margin-top: 10px;
}

.dog-info-left {
    float: left;
    margin-left: 10px;
    margin-right: 5px;
}

.dog-info-right {
    float: right;
    margin-right: 10px;
    margin-left: 5px;
}

.friends-list {
    margin: 0;
    text-align: center;
    padding: 0;
}

.friends-list li {
    display: inline-block;
    margin: 10px 5px 0 5px;
}

#adoption-image {
    background: url(/assets/images/adopt-dog.jpg) no-repeat center center;
    width: 100%;
    height: auto;
    margin-top: 70px;
}

#adoption-color {
    background-color: rgb(0, 0, 0, 0.7);
    height: auto;
    width: 100%;
}

#adoption-box {
    color: #fff;
    width: 70%;
    margin: auto;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

#adoption-box h2 {
    text-align: center;
    font-size: 60px;
}


#adoption-box a {
    color: #F9F871;
    text-decoration: none;
}

#adoption-box a:hover {
    text-decoration: underline;
}


/* ----------------------------------------------------- Contact Form */

.contact-form {
    width: 50%;
    margin: 0 25% 50px 25%;
    padding: 2vw;
    border: 1px solid #70D4FF;
    border-radius: 12px;
    background-color: #E5F7FF;
}

.form-div label,
.form-div p {
    margin-top: 0.8rem;
    margin-bottom: 0.2rem;
}

.form-control {
    width: 100%;
}

.visit-date-input {
    border: 1px solid #0079AD;
    border-radius: 0.25rem;
    color: #000;

}

.form-control.is-invalid,
.was-validated .form-control:invalid {
    border-color: #0079AD;
    background-image: none;
    color: #000;
}

.form-control.is-invalid,
.was-validated .form-control:valid {
    border-color: #28a745;
    background-image: none;
    color: #000;
}

.form-control.is-invalid:focus,
.was-validated .form-control:invalid:focus {
    border-color: #0079AD;
    box-shadow: 0 0 0 0.1rem #70D4FF;
}

.form-control.is-invalid:focus,
.was-validated .form-control:valid:focus {
    border-color: #28a745;
    box-shadow: 0 0 0 0.1rem rgba(40, 167, 69, .25)
}

.dog-checkbox label {
    margin: 0 20px 0 0;
}

.checkbox {
    display: inline-block;
}

#checkbox-willow {
    margin: 0;
}

#submit {
    border: none;
    border-radius: 0.25rem;
    color: #fff;
    background-color: #0079AD;
    text-align: center;
    width: 18%;
    margin: 20px 41% 0 41%;

}

#submit:hover {
    color: #F9F871;
}

#submit-message {
    visibility: hidden;
    text-align: center;
    margin-top: 10px;
}



/* ----------------------------------------------------- Contact Section */

#find-us-section {
    height: 450px;
}

.fa-brands-contact {
    margin: 0 10px 0 10px;
    font-size: 20px;
    color: #0079AD;
}

.fa-brands-contact:hover {
    color: #004F70;
}


#opening-hours {
    display: inline-block;
}

#opening-hours table {
    margin-bottom: 16px;
}

.tr-border {
    border-bottom: 1px solid #0079AD;
    padding: 10px;
}

.td-border {
    border-right: 1px solid #0079AD;
}

.td-space {
    padding: 5px;
}

#map {
    width: 50%;
    height: 400px;
    margin: 0 0 0 9%;
}


#find-us-line {
    border-top: 1px solid #c4c4c4;
}


/* ----------------------------------------------------- Media Queries - Home Page */

/* --------------------------- Home Page Desktop*/


@media (min-width: 992px) {

    .nav-link {
        margin-left: 50px;
        margin-right: 50px;
        font-size: 25px;
        font-weight: 600;
    }
}

/* --------------------------- Home Page Tablet*/

@media (min-width: 768px) and (max-width: 991px) {

    .meet-dogs-link {
        margin-top: 50px;
        margin-bottom: 50px;
        width: 30%;
    }

    .grid-container {
        display: grid;
        border-radius: 15px;
        margin: 0 30px 50px 30px;
        grid-template-columns: 1fr;
        grid-template-areas:
            "about-us-top"
            "about-div-top"
            "about-us-bottom"
            "about-div-bottom";
    }

    .about-image {
        width: 70%;
    }

}

/* --------------------------- Home Page Phone*/


@media (max-width: 767px) {

    #hero-image {
        height: 250px;
        background: url("../images/dog-bubbles-tablet.jpg") no-repeat center center;
    }

    #hero-outer {
        height: 250px;
    }

    .navbar {
        position: absolute;
        top: 0;
        right: 0;
    }

    #dog-preview {
        grid-template-columns: 1fr;
    }

    .meet-dogs-link {
        width: 70%;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .grid-container {
        display: grid;
        border-radius: 15px;
        margin: 0 30px 50px 30px;
        grid-template-columns: 1fr;
        grid-template-areas:
            "about-us-top"
            "about-div-top"
            "about-us-bottom"
            "about-div-bottom";
    }

    .about-image {
        width: 100%;
    }

    .footer-links {
        text-align: left;
    }

    .footer-links {
        display: inline-block;
    }

    .social-links-footer {
        display: inline-block;
        float: right;
    }

    .fa-brands-footer {
        display: block;
    }

    .social-links-footer i {
        margin: 0;
        margin-bottom: 20px;
    }


    .footer-links li {
        display: block;
        margin: 0;
        line-height: 40px;
    }

    .copyright {
        margin-top: 40px;
    }
}

/* --------------------------- Home Page Tablet and Phone */

@media (max-width: 950px) {

    .navbar-nav {
        margin-top: 50px;
        width: 200px;
        font-size: 1.1rem;
        background-color: #E5F7FF;
        border: 1px solid #70D4FF;
        border-radius: 5px;
    }

    .navbar {
        height: auto;
        justify-content: flex-end;
    }

    #navbarNav {
        justify-content: flex-end;
    }

    .navbar:focus-visible {
        background-color: #fff;
    }

    .navbar-toggler {
        justify-content: flex-end;
        position: absolute;
        right: 20px;
        top: 15px;
    }

    .about-us h2 {
        font-size: 22px;
    }

    .about-us p {
        font-size: 18px;
    }

    #about-div-top {
        margin-bottom: 25px;
    }
}

/* ----------------------------------------------------- Media Queries - Dogs Page */

/* --------------------------- Dogs Page Tablet */

@media (min-width: 768px) and (max-width: 991px) {
    .meet-dog-grid {
        grid-row-gap: 50px;
        grid-template-columns: 1fr 1fr;
    }
}



/* --------------------------- Dogs Page Phone */

@media (max-width: 767px) {
    .meet-dog-grid {
        grid-row-gap: 30px;
        grid-template-columns: 1fr;
    }

    .meet-dog-heading h1 {
        font-size: 9vw;
    }

    #adoption-box {
        width: 80%;
    }

    #adoption-box h2 {
        font-size: 32px;
    }

    #adoption-box h4 {
        font-size: 24px;
    }


    #adoption-image {
        background: url(/assets/images/dog-paw-prints.jpg) no-repeat center center;
        margin-top: 50px;
    }

    #adoption-color {
        background-color: rgb(0, 0, 0, 0.6);
    }


    #adoption-box {
        padding-top: 20px;
    }
}


/* ----------------------------------------------------- Media Queries - Contact Page */


/* --------------------------- Home Page Desktop*/


@media (min-width: 992px) {

    #find-us {
        width: 28%;
        height: 400px;
        float: right;
        margin: 0 9% 0 0;
    }
}




/* --------------------------- Contact Page Tablet */

@media (min-width: 768px) and (max-width: 991px) {

    .contact-form {
        height: 70%;
    }
}

/* --------------------------- Contact Page Tablet and Phone */

@media (max-width: 991px) {

    .contact-form {
        width: 70%;
        margin: 0 15% 50px 15%;
    }

    #map {
        width: 80%;
        margin: 30px 10%;

    }

    #find-us-section {
        height: 700px;
        padding-left: 10%;
        padding-right: 10%;
        display: flex;
        flex-direction: column-reverse;
    }

    #find-us {
        display: flex;
    }

    #find-us hr {
        /* visibility: hidden; */
    }

    #find-us-contact,
    #find-us-hours {
        /* width: 40%; */
        padding: 0 5%;
    }

    #find-us-contact {
        /* border-right: 1px solid #000; */
    }
}