@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap");

/* ----------------------------------------------------- Colours */

/* ----------------------------------------------------- General Styling */

body {
    font-family: "Dosis", sans-serif;
    color: #000;
    background-color: rgb(173, 233, 126, 0.07);
    margin: 0;
    letter-spacing: 1px;
}

/* ----------------------------------------------------- Header */

header {
    height: 100px;
}

#logo {
    height: 90px;
    width: 90px;
    margin: 5px;

}


#menu {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100px;
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
    margin-top: 34px;
    margin-bottom: 34px;
}

#menu ul li {
    display: inline-block;
    font-size: 24px;
}

#meet-the-dogs {
    margin-left: 8%;
    margin-right: 8%;
}

#menu a {
    text-decoration: none;
    color: black;
    font-weight: 800;
}

#menu a:hover {
    border-bottom: 2px solid #12822A;
    color: #12822A;
}

/* ----------------------------------------------------- Hero Image */

#hero-image {
    height: 350px;
    width: 100%;
    background: url("../images/dogs-bubbles.jpg") no-repeat center center;
    position: relative;
}

#hero-outer {
    width: 100%;
    height: 400px;
    bottom: 90px;
}

/* ----------------------------------------------------- Dog Preview */

#dog-preview {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "dog-image-left dog-image-right"
        "dog-info-left dog-info-right";
}

.dog-image-one {
    grid-area: dog-image-left;
}

#dog-info-one {
    grid-area: dog-info-left;
    text-align: center;
    background-color: #92C992;
    height: 150px;
    width: 300px;
    margin-top: 10px;
    border-radius: 15px;
    letter-spacing: 1px;
}

.dog-image-two {
    grid-area: dog-image-right;
}

#dog-info-two {
    grid-area: dog-info-right;
    text-align: center;
    background-color: #92C992;
    height: 150px;
    width: 300px;
    margin-top: 10px;
    border-radius: 15px;
}

.dog-content {
    margin: auto;
}

.dog-image {
    /* display: inline-block; */
    height: 300px;
    width: 300px;
    object-fit: cover;
    padding: 7px;
    border: 3px solid #12822A;
    border-radius: 50%;
}

.meet-dogs {
    height: 50px;
    width: 50%;
    margin: auto;
    background-color: #92C992;
    text-align: center;
    padding: 10px;
    margin-top: 50px;
    border-radius: 15px; 
}

.meet-dogs h2 {
    margin: 10px;
}



.meet-dogs-link {
    text-decoration: none;
    color: black;
    font-weight: 800;
}

.meet-dogs-link:hover {
    border-bottom: 2px solid #000
}


.fa-arrow-right {
    margin-left: 15px;
}