@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap");

/* ----------------------------------------------------- Colours */

/* ----------------------------------------------------- General Styling */

body {
    font-family: "Dosis", sans-serif;
    color: #000;
    background-color: rgb(173, 233, 126, 0.07);
    margin: 0;
}

/* ----------------------------------------------------- Header */

#logo {
    height: 75px;
    width: 75px;
    margin: 5px;
}

#menu {
    position: relative;
    left: 200px;
    bottom: 75px;
    width: 80%;
    height: 75px;
    text-align: center;
}

ul {
    list-style-type: none;
}

#menu ul li {
    display: inline-block;
    margin-right: 150px;
    font-size: 150%;
}

#menu a {
    text-decoration: none;
    color: black;
    font-weight: 800;
    letter-spacing: 1px;
}

.fa-solid {
    margin-left: 10px;
}

#menu a:hover {
    border-bottom: 2px solid #12822A;
    color: #12822A;
}

/* ----------------------------------------------------- Hero Image */

#hero-image {
    height: 350px;
    width: 100%;
    background: url("../images/dogs-bubbles.jpg") no-repeat center center;
}

#hero-outer {
    width: 100%;
    height: 400px;
    position: relative;
    bottom: 90px;
}

/* ----------------------------------------------------- Dog Preview */

#dog-preview {
    text-align: center;
}

.dog-image {
    display: inline-block;
    height: 350px;
    width: 350px;
    object-fit: cover;
    margin-top: 30px;
    padding: 5px;
    border: 3px solid #12822A;
    border-radius: 50%;
}

.dog-box {
    text-align: center;
    display: inline-block;
}

.dog-left {
    margin-right: 8%;
}

.dog-right {
    margin-left: 8%;
}

.dog-box div {
    text-align: left;
}